<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Enter User</title>
</head>
<body>

<input type="button" style="color: #db71c9" value=" Войти " onclick="window.location.href = '/login'"/>
<br><br>
<input type="button" style="color: #db71c9" value=" Посмотреть данные " onclick="window.location.href = '/home'"/>
<input type="button" style="color: #db71c9" value=" Выйти " onclick="window.location.href = '/logout'"/>

</body>
</html>